#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Personalización para el botón verde */
.custom-green-button {
  background-color: #28a745; /* Color verde */
  border-color: #28a745; /* Bordes del botón */
}

.custom-green-button:hover {
  background-color: #218838; /* Color verde más oscuro al hacer hover */
  border-color: #1e7e34; /* Bordes más oscuros */
}

/* Personalización para el botón rojo fuerte */
.custom-red-button {
  background-color: #dc3545; /* Color rojo fuerte */
  border-color: #dc3545; /* Bordes del botón */
}

.custom-red-button:hover {
  background-color: #c82333; /* Color rojo más oscuro al hacer hover */
  border-color: #bd2130; /* Bordes más oscuros */
}

/* Personalización para el botón amarillo suave */
.custom-soft-yellow-button {
  background-color: #ffeb3b; /* Amarillo suave */
  border-color: #ffeb3b; /* Bordes del botón en amarillo suave */
}

.custom-soft-yellow-button:hover {
  background-color: #fdd835; /* Amarillo ligeramente más oscuro al hacer hover */
  border-color: #fbc02d; /* Bordes más oscuros al hacer hover */
}
